svg {
	position: fixed;
	bottom: 10px;
	right: 0;
	z-index: 1000;
	display: none;
	animation: svg 2s;
}
#Frame1 {
	fill: black;
}
#Frame1:hover {
	fill: #111;
}
svg:hover #G{
	transform: translateX(-10px);
}
svg:hover #O{
	transform: translateX(-5px);
}
svg:hover #U{
	transform: translateX(-5px);
}
svg:hover #P{
	transform: translateX(5px);
}
@keyframes svg {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}


#G, #O, #U, #P {
	animation: text 1s;
	transition: .3s;
}
@keyframes text {
	from {
		transform: translateY(-100px);
	}
	to {
		transform: translateY(0);
	}
}

#O {
	animation-duration: 1.5s;
}
#U {
	animation-duration: 2s;
}
#P {
	animation-duration: 2.5s;
}