svg {
	position: fixed;
	bottom: 10px;
	right: 0;
	z-index: 1000;
	display: none;
	animation: svg 2s;
}
@keyframes svg {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}


#G, #O, #U, #P {
	animation: text 1s;
}
@keyframes text {
	from {
		transform: translateY(-100px);
	}
	to {
		transform: translateY(0);
	}
}

#O {
	animation-duration: 1.5s;
}
#U {
	animation-duration: 2s;
}
#P {
	animation-duration: 2.5s;
}